<!-- using partials for componentizations/reusability -->
<%- include ('partials/header.ejs') %>
    <body>
        <%- include ('partials/navbar.ejs') %>
            <div class="container">
                <div class="card" id="form-question">
                    <div class="card-header">
                        <h3>Ask away!</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/savequestion">
                            <label>Question title</label>
                            <input type="text" placeholder="Title" class="form-control" name="title">
                            <br>
                            <label>Question description</label>
                            <textarea placeholder="Write your question here" class="form-control" name="description"></textarea>
                            <br>
                            <button class="btn btn-dark">Ask!</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
<%- include ('partials/footer.ejs') %>